# Environment-specific values for Redis in Dev
architecture: standalone

auth:
  enabled: true
  password: "dev-redis-password"

master:
  persistence:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 250m

replica:
  replicaCount: 0
