architecture: standalone

auth:
  enabled: false

master:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

  persistence:
    enabled: false

commonConfiguration: |-
  maxmemory 256mb
  maxmemory-policy allkeys-lru
